body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #e1e9ec;
}
nav {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: white;
    border-bottom: 1px solid grey;
}
#logo {
    background-color: transparent;
}
#logo img {
    height: 50px;
    margin: 5px 0px;
    /* border: 1px solid blue; */
}
#search {
    display: flex;
    width: 45%;
    height: 70%;
    padding: 9px 0px;
    align-items: center;
}
#search-box {
    height: 96%;
    width: 90%;
    padding: 0px 10px;
    border: 1px solid #CCC;
    border-radius: 2px 0px 0px 2px;
}
#search-btn {
    width: 100px;
    height: 100%;
    background-color: #ef534e;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 2px;
}

/* Details Section  */
#data {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    /* border: 2px solid red; */
}
#data > div {
    width: 100%;

}
#data > div > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    /* border: 1px solid blue; */
}
#deal {
    width: 45%;
    display: inline;
}
#name {
    font-weight: 800;
}
#bought {
    text-align: end;
}
#data > div:nth-child(2) {
    height: 200px;
    width: auto;
    margin-left: 15px;
}
#image {
    height: 100%;
}

/* Deals Section  */
.extra-section {
    width: 82%;
    margin: 40px auto;
    box-sizing: border-box;
    background-color: #f6f6f6;
    
}




.fl {
    display: flex;
}
.extra button {
    width: 100px;
    height: 50px;
    font-size: 16px;
    color: grey;
    background-color: #eee;
    border: none;
}
.extra button:nth-child(1) {
    background-color: white;
    color: black;
    
    border-top: 5px solid #f47b58;
}

.extra-body {
    width: 100%;
    margin: auto;
    display: flex;
    background-color: #f6f6f6;
    
}
.deals {
    width: 65%;
    /* border: 1px solid red; */
    background-color: white;
}
.deals > div {
    width: 95%;
    padding: 15px;
    /* border: 2px solid blue; */
    justify-content: space-between;
}
.deals > div:nth-child(2) {
    text-align: right;
    width: 30%;
}
.deals > div:nth-child(2) > div {
    margin-top: 30px;
}
.bb {
    color: #35a7ff;
    background-color: white;
    border: 1px solid #35a7ff;
    padding: 8px 10px;
    margin-right: 10px;
}
#addBtn1 {
    width: 90px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    background-color: #ef534e;
    color: white;
    border-radius: 2px;
}

#addBtn2,#subBtn2 {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    background-color: #ef534e;
    color: white;
    border-radius: 2px;
}


.cart {
    width: 35%;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
}
.cart > div:nth-child(1) {
    background-color: #e0e0e0;
    margin-top: 0px;
    padding: 1px 0px;
    border-radius: 5px 5px 0px 0px;
}
.cart > div:nth-child(2) {
    padding: 0px 15px;
    
}
.atc {
    text-align: center;
}
#total {
    padding: 15px;
    border-top: 1px solid grey;
}
#total > button {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    background-color: #ef534e;
    color: white;
    border-radius: 2px;
}
#total > button:hover {
    box-shadow: rgba(255, 0, 0, 0.71) 0px 2px 4px 0px, rgba(255, 0, 0, 0.632) 0px 2px 16px 0px;
    transition: 0.2s;
}

/* Bottom section  */
.top {
    background-color: #333;
    padding: 30px 0px;
    margin-top: 50px;
}
.top > div {
    display: flex;
    color: white;
    font-size: 11px;
    width: 80%;
    margin: auto;
}

.top .left {
    width: 85%;
    padding: 0px 10px;
    
}
.top .left h4 {
    margin-bottom: 10px;
}
.top .right {
    width: 15%;
    padding: 0px 10px;
}
.top .right h3 {
    margin-bottom: 10px;
    color: #999
}
#social {
    display: flex;
}
#social img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.bottom {
    background-color: black;
    color: white;
    font-size: 13px;
}
.bottom > div {
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    
}
.bottom .left {
    width: 50%;
}
.bottom .left table {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    height: 170px;
    border-right: 1px solid grey;
}
.bottom .left p {
    color: #999;
}
.bottom table a {
    text-decoration: none;
    color: white;
}
.bottom table th {
    font-size: 16px;
}
.bottom table th {
    margin: 10px 0px;
    /* border: 1px solid red; */
}
.bottom table td {
    margin: 10px 0px;
    /* border: 1px solid red; */
}
.bottom table td > a:hover {
    color: #ff2604;
    transition: 0.3s;
}

.bottom .right {
    width: 50%;
}
.bottom .right > div {
    width: 65%;
    margin: auto;
    /* border: 1px solid red; */
}
.bottom .right h3 {
    margin-bottom: 18px;
}
.bottom .right a {
    margin-bottom: 18px;
    margin-right: 40px;
}


#app-links {
    display: flex;
    text-align: center;
}
#app-links img {
    height: 40px;
}
#app-links a {
    text-decoration: none;
    color: white; 
}